

/* Define una animación llamada 'rotar-circular' */
/* Define una animación llamada 'rotar-circular' */
@keyframes rotar-circular {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Agrega la clase 'animacion-rotar-circular' para iniciar la animación */
.animacion-rotar-circular {
    animation-name: rotar-circular;
    animation-duration: 2s;
    /* Duración de la animación en segundos */
    animation-iteration-count: infinite;
    /* Iteración infinita */
    animation-timing-function: linear;
    /* Función de temporización de animación */
}

/* Aplica la animación al emoji */
.rotar-circular {
    display: inline-block;
    /* Otros estilos que desees aplicar al emoji */
}


body {
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--cui-body-font-size);
    font-weight: var(--cui-body-font-weight);
    line-height: var(--cui-body-line-height);
    color: var(--cui-body-color);
    text-align: var(--cui-body-text-align);
    -webkit-text-size-adjust: 100%;
}






/* Estilos para el encabezado del calendario */
.fc-header-toolbar {
    background-color: #3c4b64;
    /* Cambia el color de fondo del encabezado */
    color: #ffffff;
    /* Cambia el color del texto en el encabezado */
    font-family: 'Times New Roman', Times, serif;
    /* Cambia la fuente del calendario */

}

/* Estilos para las celdas de fecha */
.fc-day {
    background-color: #ecf0f1;
    /* Cambia el color de fondo de las celdas de fecha */
    width: 90px;
    /* Ajusta el ancho de las celdas */
    height: 90px;
    /* Ajusta la altura de las celdas */
    margin: 20px;
    /* Margen entre las celdas */
}


/* Efecto de hover para los eventos */
.fc-event:hover {
    background-color: #C0C0C0;
    /* Cambia el color de fondo al pasar el mouse */
}


/* Estilos para el bloque del campo de entrada y el botón de búsqueda */
.custom-input-group {
    width: 46%;
    /* Ancho completo del bloque */
    margin-bottom: 8px;
    /* Espacio entre elementos */
}



.fc-direction-ltr {
    direction: ltr;
    text-align: left;
    height: 420px;


}



